@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2E2C2B;
  color: #DADADA;
  font-family: "Roboto", sans-serif;
}

li, a, button{
  font-weight: 400;
  font-size: 16px;
  color: beige;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 100px;
}

header img {
  height: 50px;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  margin-right: 25px;
}

.nav-links{
  list-style: none;
  display: flex;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

#header-logo-name {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile img{
  height: 40px;
  width: auto;
  padding-left: 25px;
}

#accounts {
  border: 1px solid wheat;
  width: 900px;
  height: 300px;
}

#recent-activity {
  border: 1px solid wheat;
}

#send-money{
  border: 1px solid wheat;
  width: 250px;
  height: 400px;
}

.misc-actions{
  border: 1px solid wheat;
  width: 250px;
  height: 100px;
}

.dashboard-content {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }

.dashboard-content div {
  border-radius: 10px;
  margin: 10px;
}
  
  .all-accounts { grid-area: 1 / 1 / 4 / 5; }
  .recent-activity-container { grid-area: 4 / 1 / 8 / 3; }
  .send-money { grid-area: 4 / 3 / 8 / 4; }
  .misc-button-1 { grid-area: 7 / 4 / 8 / 5; }
  .misc-button-2 { grid-area: 6 / 4 / 7 / 5; }
  .misc-button-3 { grid-area: 5 / 4 / 6 / 5; }
  .misc-button-4 { grid-area: 4 / 4 / 5 / 5; }

  .account-columns {
    display: flex;
    justify-content: space-evenly;
  }

  .account-columns p {
    margin: 10px;
  }

  .recent-activity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }